body {
  background: linear-gradient(to right, #3c6e71, #171219) !important;
  color: white !important;
}

h1 {
  margin: 0.5em 0 !important;
}

a {
  color: blue !important;
  cursor: pointer;
}

.mainContent {
  margin: 3em 2em;
}

.page-title {
  font-size: 5em;
  text-align: center;
  background: linear-gradient(to right, #d68fd6, #defff2);
  -webkit-background-clip: text;
  color: transparent;
}
