body {
  background: linear-gradient(to right, #13293d, #000) !important;
  color: white !important;
}

h1 {
  margin: 0.25em 0 !important;
}

a {
  color: blue !important;
  cursor: pointer;
}

.mainContent {
  margin: 3em 2em;
}

.page-title {
  font-size: 5em;
  text-align: center;
  color: white;
  font-weight: bolder;
}
